<div id = "myCarousel" class = "carousel">
  <ol class = "carousel-indicators">
    <li data-target = "#myCarousel" data-slide-to = "0"></li>
    <li data-target = "#myCarousel" data-slide-to = "1"></li>
    <li data-target = "#myCarousel" data-slide-to = "2"></li>
    <li data-target = "#myCarousel" data-slide-to = "3"></li>
    <li data-target = "#myCarousel" data-slide-to = "4"></li>
  </ol>
  <div class = "carousel-inner">

    <div class = "item active carousel-image">
      <img src = "https://superchefimages.s3.amazonaws.com/uploads/carousel+picture/bread_vegetables_fruit_nuts_cereals_vitamins_5884_1920x1080.jpg" alt = "A" class = "img-responsive">
      <div class = "carousel-caption">
        <h1> Daily Ingredients</h1>
      </div>
    </div>

    <div class = "item carousel-image">
      <img src = "https://superchefimages.s3.amazonaws.com/uploads/carousel+picture/table_ukraine_soup_sour_cream_onion_bacon_composition_towel_76778_1920x1080.jpg" alt = "A" class = "img-responsive">
      <div class = "carousel-caption">
        <h1> Ukraine Soup sour create onion bacon</h1>
      </div>
    </div>

    <div class = "item carousel-image">
      <img src = "https://superchefimages.s3.amazonaws.com/uploads/carousel+picture/eggs_close-up_three_79219_1920x1080.jpg" alt = "A" class = "img-responsive">
      <div class = "carousel-caption">
        <h1> Eggs the morning protein</h1>
      </div>
    </div>

    <div class = "item carousel-image">
      <img src = "https://superchefimages.s3.amazonaws.com/uploads/carousel+picture/salad_meat_vegetables_plate_white_background_78333_1920x1080.jpg" alt = "A" class = "img-responsive">
      <div class = "carousel-caption">
        <h1> Salad meat vegetables plate</h1>
      </div>
    </div>

    <div class = "item carousel-image">
      <img src = "https://superchefimages.s3.amazonaws.com/uploads/carousel+picture/food_fish_lemon_side_dish_vegetables_fruits_80886_1920x1080.jpg" alt = "A" class = "img-responsive">
      <div class = "carousel-caption">
        <h1> Salmon lemon dress</h1>
      </div>
    </div>

  </div>

  <a class = "carousel-control left" href = "#myCarousel" data-slide = "prev">
    <span class = "icon-prev"></span>
  </a>

  <a class = "carousel-control right" href = "#myCarousel" data-slide = "next">
    <span class = "icon-next"></span>
  </a>

</div>


<div class = "center jumbotron">
  <h1> Welcome to Super Chef App</h1>

  <h2>
    We are here to save your cooking time with the signature chef recipe and secret ingredients ... etc
  </h2>
  <%= link_to "Sign Up now",register_path, class: "btn btn-lg btn-success" %>
</div>

<div class = "row">
  <div class = "col-lg-4">
    <h3 class = "midrow">
      View Recipes as Guest User
    </h3>
    <h2 class = "left"> Browse and view recipes as a guest and Sign up later</h2>
    <p><%= link_to "Browse Recipe Listings",recipes_path,class: "btn btn-warning btn-small" %></p>
  </div>
  <div class = "col-lg-4">
    <h3 class = "midrow">
      Sign in to your account
    </h3>
    <h2 class = "left"> Add/Update your recipes/Create reviews/like-dislike recipes and more..</h2>
    <p><%= link_to "Log in to your account", login_path, class: "btn btn-warning btn-small" %></p>
  </div>
  <div class = "col-lg-4">
    <h3 class = "midrow">
      View Recipes as Guest User
    </h3>
    <h2 class = "left"> Browse and view recipes as a guest and Sign up later</h2>
    <p><%= link_to "Browse Recipe Listings","",class: "btn btn-warning btn-small" %></p>
  </div>

</div>